*, ::before, ::after {
    margin: 0;
    padding: 0;
}

#app {
    margin: auto;
    margin-top: 20px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
/* .app__list-box{
    position: relative;
}
.app__list-box::before {
    content: "";
    position: absolute;
    left: 1.3rem;
    bottom: 0;
    border: black solid 1px;
    width: calc(100% - 1.3rem);
    height: 100%;
} */
/* CSS for list item */
.app__list-box__item {
    width: 600px;
    display: flex;
    justify-items: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
    position: relative;
}

.list-box__item__num {
    display: inline-block;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-right: .5rem;
}
.list-box__item_text {
    width: 100%;
    min-width: 1%;
    overflow-wrap: break-word;
    flex-grow: 0;
    cursor: pointer;
    font-family: sans-serif;
    color: black;
}

.app__list-box__item .button {
    justify-self: flex-end;
}
.taskIsDone {
    position: relative;
    text-decoration-line: line-through;
}


/* CSS for Input elements from the bottom  */
.app__input-box {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* height = font-size + (border:focus - border) --> fix twitching when focused */
input {
    cursor: pointer;
    width: 100%;
    height: calc(1rem + 2px) ; 
    min-width: 0;
    border: none;
    border-bottom: solid 1px black;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    transition: all 150ms ease-in-out;
}
input:focus{
    content: "";
    cursor: text;
    height: 1rem;
    outline: none;
    border-bottom: solid 3px black;
}
input:focus::placeholder{
    transition: all 150ms ease-in-out;
    color: transparent;
}

.button{
    flex-shrink: 0;
    cursor: pointer;
    float: right;
    align-self: center;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}
.button:hover {
    text-decoration-line: underline;
}
.button:active {
    color: red;
}
.button--remove {
    margin-top: 10px;
    color: rgb(233, 62, 0);
    align-self: flex-end;
}
.isDisabled, .isDisabled:hover, .isDisabled:active{
    cursor: default;
    color: rgba(233, 62, 0, 0.2);
    text-decoration-line: none;
}